body {
  margin: 0;
  font-family: 'Poppins';
  src: url(./fonts/Poppins-Medium.ttf);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins';
  src: url(./fonts/Poppins-Medium.ttf);
}
